  <p>{{quote.description}}</p>
      <button (click)= 'quoteComplete(true)'>Complete</button>


         <p id="like"><span (click)="countLikeclick()"><img class="logo" src="https://bit.ly/2X7uNjQ"/></span> {{clickCounter}}</p>
         <p id="dislike"><span (click)="countDislikeclick()"><img class="logo" src="https://bit.ly/2JCjXKo"/></span> {{clickCounter1}}</p>
<div class="post">

  <p>Posted:{{quote.completeDate|dateCount}}days ago</p>
</div>
<button (click)= 'quoteDelete(true)' class="btn btn-outline-danger">Delete quoteDelete</button>



