<div class="container-fluid">
    <h1 class="center">iQUOTE</h1>
    <img src="https://bit.ly/2R4OZyD" height="10%" width="18%" class="img">

    <hr>
       <div class="row">
        <div class="col-md-6">
           <div *ngFor='let quote of quotes;let i=index'>
        <div>
        <!-- {{quote.id}} -->
           <h6 id={{i}}  appStrikethrough>{{quote.name}} created on{{quote.completeDate|date|uppercase}}</h6>
        <button (click)='toggleDetails(i)'>Toggle Details</button>
     </div>

      <div *ngIf='quote.showDescription'>
        <app-quote-details *ngIf='quote.showDescription' [quote]='quote' (isComplete) = 'deleteQuote($event,i)'></app-quote-details>
        <!-- {{quote.description}} -->
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <app-quote-form></app-quote-form> 
    <!-- <app-extract-form></app-extract-form> -->
    <!-- <app-qoute-form-sample></app-qoute-form-sample> -->
  </div>
</div>



