<div>
    <h1>My Quotes</h1>
    <hr>
    <ul>
      <div *ngFor='let quote of quotes;let i=index'>
        <!-- {{quote.id}} -->
        <li appStrikethrough>{{quote.name}} created on{{quote.completeDate|date|uppercase}}</li>
        <button (click)='toggleDetails(i)'>Toggle Details</button>
        <app-quote-details *ngIf='quote.showDescription' [quote]='quote' (isComplete) = 'deleteQuote($event,i)'></app-quote-details>
        <!-- {{quote.description}} -->
      </div>
    </ul>
  </div>

  


